* {margin:0; padding:0; font-family: Dongle;}
a {text-decoration:none;}
ul {list-style:none;}
#toggle{display:none;}
#div-for-fixed-bar{
    width:1500px;
    height:100px;
    margin:0 auto;
}
#topnav {
    width:1500px;
    background-color:#d3e9ff;
    border-radius:10px;
    margin:0 auto;
    position:fixed;
    top:0;
    left:auto;
    overflow:hidden;
}
#topnav ul li{
    float:left;
    width:auto;
    height:50px;
    line-height:50px;
    padding:0 5px;
    margin:5px;
    text-align: center;
    background-color: aquamarine;
    border-radius: 5px;
}
#topnav ul li a{
    display:block;
    font-family: 'Dongle', sans-serif;
    font-size:3em;
    color:#444444; 
}
#topnav ul li a:hover {
    color:black;
    font-size:3.1em;
}
#topnav .search{
    float:right;
    margin:5px;
}
#topnav .search a{
    float:right;
    width:75px;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:2em;
    background:white;
    border-radius:15px;
}
#topnav .search input{
    width:500px;
    height:50px;
    padding:0 5px;
    margin-right:5px;
    font-size:1.5em;
    border:2px solid #4d4d4d;
    border-radius:15px;
    right:0;
}

#wrap {
    width:1190px;
    height:700px;
    margin:0 auto;
}
#wrap header{
    height:150px;
    line-height:150px;;
    text-align:center;  
}
#wrap header h1 {
    color:skyblue; 
    font-weight:bold;
    font-size:130px;
    text-shadow:2px 2px 3px rgb(77, 77, 77), -2px -2px 3px rgb(77, 77, 77);
    font-family: 'Dongle', sans-serif;
}
#wrap header h1 a{ color:skyblue; }
section{
    overflow:hidden;
}
section #dynamic-banner {
    height:200px;
    line-height:200px;
    overflow:hidden;
    text-align:center;
}
section #dynamic-banner button{
    display:block;
    color:#aaaaaa;
    width:30px; height:30px;
    margin-top:85px;
    border:0;
}
section #dynamic-banner button:hover{
    color: black;
}
section #dynamic-banner .leftImage{
    float:left;
}
section #dynamic-banner .rightImage{
    float:right;
}
section #dynamic-banner .image{
    display:inline-block;
    height:100%;
    width:600px;
    background: #cccccc;
    background-image: url(./images/sleeping_mozzi.jpg);
    background-position: center;
    background-size: cover;
}
section #first-section{
    margin-top:10px;
    overflow:hidden;
    height:400px;
}
section #first-section .left-banner {
    float:left;
    width:120px;
    height:400px;
    box-sizing:border-box;
    border:1px solid #cccccc;
    text-align:center;
    font-size:3em;
}
section #first-section .left-banner ul{
    text-align: center;
    display:block;
}
section #first-section .left-banner ul li {
    display:inline-block;
    width:100px;
    height:50px;
    line-height:50px;
    border-radius: 10px;
    background-color: #a3d1ff;
}
section #first-section .left-banner ul li a{
    display:block;
    color:white;
}
section #first-section .left-banner ul li a:hover{
    text-decoration: underline;
    font-weight:bold;
}
section #second-section {
    float:left;
    width:1070px;
    height:400px;
    box-sizing:border-box;
    border:1px solid black;
}
footer{
    overflow:hidden;
    padding-bottom:100px;
    font-size:2em;
}
footer a{
    color:black;
}
footer h6{
    float:right;
    margin:10px 10px 0 0;
    color:#cccccc;
    text-align:right;
}